body{
    background-color: lightblue;
}
p.intro::first-letter{
    text-transform: uppercase;
    font-size: 150%;
    color: gold;
    letter-spacing: 5px;
}
p.intro::first-line{
    background-color: green;
}

td {
    background-color: #0088dd;
    padding: 15px;
    border: 2px solid #000000;}
    table.two {
    border-collapse: separate;}

    a{
        cursor: text;
    }
    .one{
        /* position: relative; */
        width: 1000px;
        height:2000px;
        background-color: red;
    }
    p.example {
        position: absolute; 
        top: 150px;
        left: 200px;
    }